.tmp

# Vim stuff
nvim/repos/*
nvim/.cache
nvim/.undodir
.netrwhist
cache_nvim
state_nvim.vim
vim/repos/*
vim/.cache
vim/state_nvim.vim
vim/cache_nvim
vim/.plugins/*

# tmux stuff
tmux/plugins/*

# zsh
zsh/antigen.zsh

# asdf
.asdf/
